[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schedule = "*"
python-dotenv = "*"
backoff = "*"
peewee = "*"
flask = "*"
cachetools = "*"
flask-restful = "*"
gunicorn = "*"
aiohttp = "*"
python-dateutil = "*"
requests = {extras = ["socks"], version = "*"}
geoip2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
